---
import content from '../../content/atlant.json';
import Card from './Card.astro';
import Search from './Search.astro';

const {games} = content;
---
<section id={games.id}>
  <header>
    <h2>{games.title}</h2>
    <Search />
  </header>
  <ul class="list">
    {games.list.map((game) => (
      <li data-gameid={game.id}>
        <Card game={game} />
        {/* TODO - Modal */}
      </li>
    ))}
  </ul>
</section>

<style>
  section {
    position: relative;
    z-index: 2;
    margin-top: var(--gap-l);
    border-radius: var(--radius-xl);
    padding: 68px 48px 0;
    background-color: var(--primary-1);
    outline: 1px solid #eee;
    color: var(--text);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }

  h2 {
    font-size: 80px;
    line-height: 86px;
    color: var(--text);
  }

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 42px var(--gap-xl);
    list-style: none;
    padding: 0;
  }
</style>