---
import { marked } from 'marked';
import content from '../../content/atlant.json';
import Button from '../../ui/Button.astro';

const {hero} = content;
---
<section class="hero" id={hero.id}>
  <div class="hero__ellipse"></div>
  <div class="hero__content">
    <h2 class="hero__title" set:html={marked.parse(hero.title)}></h2>
    <p class="hero__text">{hero.text}</p>
  </div>
  <div class="hero__btn">
    <Button tag="a" href={hero.button.href} class="hero__action">{hero.button.label}</Button>
  </div>
</section>

<style>
  .hero {
    --ellips-width: 876px;
    --ellips-height: 835px;
    --ellips-left: 93px;
    --ellips-top: -193px;
    position: relative;
    z-index: 2;
    margin-top: var(--gap-l);
    border-radius: 24px;
    padding: 60px 48px;
    background-color: var(--secondary-1);
    color: var(--text);
    min-height: 448px;
  }

  .hero__content {
    position: relative;
    z-index: 2;
  }

  .hero__title {
    font-size: 90px;
    line-height: 86px;
    margin-bottom: 57px;
    max-width: 70%;
  }

  .hero__text {
    font-size: 32px;
    line-height: 40px;

    max-width: 50%;
  }

  .hero__btn {
    position: absolute;
    z-index: 2;
    right: 16px;
    bottom: 16px;
  }

  .hero__action {
    display: inline-block;
    font-size: 46px;
    line-height: 33px;
    font-weight: 600;
    padding: 38px 50px;
    border-radius: 24px;
  }

  .hero__ellipse {
    position: absolute;
    width: var(--ellips-width);
    height: var(--ellips-height);
    border-radius: 50%;
    left: var(--ellips-left);
    top: var(--ellips-top);
    filter: blur(700px);
    background: rgb(0, 122, 255);
    opacity: 0.52;
    z-index: 0;
    /* display: none; */
  }

  @media (max-width: 1728px) {
    .hero__title {
      max-width: 100%;
    }

    .hero__text {
      max-width: 60%;
    }
  }
  
  @media (max-width: 1024px) {
    .hero__title {
      font-size: 64px;
      line-height: 1;
      max-width: 80%;
    }

    .hero__text {
      max-width: 56%;
    }
  }

  @media (max-width: 768px) {
    .hero {
      padding: 16px 16px 24px;
      min-height: initial;
    }

    .hero__content {
      padding: 16px 16px 35px;
      min-height: 266px;
      border-radius: 32px;
      margin-bottom: 8px;
    }

    .hero__title {
      max-width: 100%;
      margin-bottom: 24px;
      font-size: 40px;
      line-height: 45px;
    }

    .hero__text {
      max-width: 100%;
      font-size: 16px;
      line-height: 21px;
    }

    .hero__btn {
      position: static;
    }

    .hero__action {
      font-size: 32px;
      line-height: 22px;
      padding: 28px;
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 425px) {
    .hero__title {
      font-size: 40px;
      line-height: 45px;
    }
  }
</style>