---
import content from '../../content/atlant.json';
import IconInsta from '../../ui/IconInsta.astro';
import IconTg from '../../ui/IconTg.astro';
import Link from '../../ui/Link.astro';

const {copyright, footerLinks, menu, socials} = content;

const date = '2024'
---
<footer class="footer">
  <div class="footer__meta">
    <p class="logo">AI Atlant</p>
    <p class="copyright">(c) {copyright} | {date}</p>
  </div>

  <nav class="footer__nav navigation">
    {menu.map((item) => (
      <Link href={item.href} class="navigation__item" >{item.title}</Link>
    ))}
  </nav>

  <nav class="footer__menu sources">
    {footerLinks.map((item) => (
      <Link view="accent" href={item.href} class="sources__item" data-disabled={item.isDisabled}>{item.title}</Link>
    ))}
  </nav>

  <div class="footer__soc socials">
    <a href={socials.Instagram.href}>
      <IconInsta />
    </a>
    <a href={socials.Telegram.href}>
      <span class="visually-hidden">{socials.Telegram.label}</span>
      <IconTg />
    </a>
  </div>
</footer>

<style>
  .footer {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'meta navi menu soc';
    gap: var(--gap-l);
    color: var(--text);
    padding: 48px;
    padding-right: 65px;
    background-color: var(--primary-1);
  }

  .footer__meta {
    grid-area: meta;
  }

  .footer__nav {
    grid-area: navi;
  }

  .footer__menu {
    grid-area: menu;
  }

  .footer__soc {
    grid-area: soc;
  }

  .logo {
    color: var(--accent-2-secondary);
    margin-bottom: 24px;
    font-family: "Jomhuria", sans-serif;
    font-size: 56px;
    line-height: 56px;
    font-weight: 400;
  }

  .copyright {
    font-size: 24px;
    line-height: 34px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .navigation__item {}

  .sources {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .socials {
    display: flex;
    gap: var(--gap-xxl);
    justify-self: end;
  }

  @media (max-width: 425px) {
    .footer {
      grid-template-columns: 1fr;
      padding: 48px 32px 56px;
      grid-template-areas:
        'meta'
        'soc'
        'navi'
        'menu';
      gap: 48px;
      margin: 0;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
    }

    .footer__soc {
      justify-self: start;
    }

    .logo {
      margin-bottom: 8px;
    }
  }
</style>