---
import IconInsta from "../../ui/IconInsta.astro";
import IconTg from "../../ui/IconTg.astro";
import Link from "../../ui/Link.astro";

const { copyright, footerLinks, menu, socials } = Astro.props;

const date = "2024";
---

<footer class="footer">
  <div class="footer__meta">
    <p class="logo">AI Atlant</p>
    <p class="copyright">(c) {copyright} | {date}</p>
  </div>

  <nav class="footer__nav navigation">
    {
      menu.map((item) => (
        <Link data-menu-item href={item.href} class="navigation__item">
          {item.title}
        </Link>
      ))
    }
  </nav>

  <nav class="footer__menu sources">
    {
      footerLinks.map((item) => (
        <Link
          view="accent"
          href={item.href}
          class="sources__item"
          data-disabled={item.isDisabled}
          target="_blank"
          rel="noopener noreferrer"
        >
          {item.title}
        </Link>
      ))
    }
  </nav>

  <div class="footer__soc socials">
    {
      socials.Instagram && (
        <a href={socials.Instagram.href}>
          <IconInsta />
        </a>
      )
    }
    {
      socials.Telegram && (
        <a
          href={socials.Telegram.href}
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="visually-hidden">{socials.Telegram.label}</span>
          <IconTg />
        </a>
      )
    }
  </div>
</footer>

<style>
  .footer {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "meta navi menu soc";
    gap: var(--gap-l);
    color: var(--text);
    padding: 48px;
    padding-right: 65px;
    background-color: var(--primary-1);
  }

  .footer__meta {
    grid-area: meta;
  }

  .footer__nav {
    grid-area: navi;
  }

  .footer__menu {
    grid-area: menu;
  }

  .footer__soc {
    grid-area: soc;
  }

  .logo {
    color: var(--accent-2-secondary);
    margin-bottom: 4px;
    font-family: "Jomhuria", sans-serif;
    font-size: 56px;
    line-height: 1;
    font-weight: 400;
  }

  .copyright {
    font-size: 24px;
    line-height: 34px;
  }

  .navigation,
  .sources {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .navigation__item.active {
    color: var(--accent-2-secondary);
  }

  .socials {
    display: flex;
    gap: var(--gap-xxl);
    justify-self: end;
  }

  @media (max-width: 1024px) {
    .footer {
      column-gap: 70px;
      padding: 48px 4px;
      grid-template-columns: repeat(4, max-content);
    }
  }

  @media (max-width: 768px) {
    .footer {
      padding: 45px 32px;
      grid-template-areas:
        "meta meta soc soc"
        "navi menu menu .";
      row-gap: 80px;
    }

    .footer__soc {
      justify-self: end;
    }
  }

  /* footer mobile size */
  @media (max-width: 590px) {
    .footer {
      grid-template-columns: 1fr;
      padding: 48px 32px 56px;
      grid-template-areas:
        "meta"
        "soc"
        "navi"
        "menu";
      gap: 48px;
      margin: 0;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
    }

    .footer__soc {
      justify-self: start;
      align-self: start;
    }

    .logo {
      margin-bottom: 8px;
    }
  }
</style>
