---
import Header from "../../blocks/chronicles/Header.astro";
import Hero from "../../blocks/chronicles/Hero.astro";
import Features from "../../blocks/chronicles/features/Features.astro";
import Who from "../../blocks/chronicles/Who.astro";
import Banner from "../../blocks/chronicles/Banner.astro";
import Reviews from "../../blocks/chronicles/Reviews.astro";
import Footer from "../../blocks/chronicles/Footer.astro";
import content from "../../content/chronicles/ru.json";
import "../../styles/reset.css";
import "../../styles/chronicles/main.css";

const TITLE = "Ai Atlant - Хроники";
const LANG = "ru";

const {
  hero,
  features,
  banner,
  who,
  reviews,
  callToAction,
  footerLinks,
  socials,
} = content;
---

<!doctype html>
<html lang={LANG}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.jpeg" type="image/png" />
    <link rel="shortcut icon" href="/shortcut-favicon.jpeg" type="image/png" />
    <link
      rel="apple-touch-icon"
      href="/apple-touch-favicon.jpeg"
      type="image/png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{TITLE}</title>
  </head>
  <body>
    <div class="page">
      <Header />
      <Hero data={hero} actionBtn={callToAction} />
      <Features data={features} />
      <Banner data={banner} actionBtn={callToAction} />
      <Who data={who} />
      <Reviews data={reviews} />
      <Footer footerLinks={footerLinks} socials={socials} />
      <div class="cloud-1"></div>
      <div class="ellipse-1"></div>
      <div class="ellipse-2"></div>
    </div>
  </body>
</html>

<style>
  .page {
    overflow: hidden;
    position: relative;
    width: 100vw;
  }

  .cloud-1 {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -200px;
    background-image: url("/images/chronicles/clouds-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 420px;
    aspect-ratio: 420 / 293;
  }

  .ellipse-1 {
    position: absolute;
    z-index: 1;
    width: 1403px;
    height: 1338px;
    left: -196px;
    top: -364px;

    filter: blur(400px);
    background: rgb(59, 61, 138);
    opacity: 0.7;
  }

  .ellipse-2 {
    z-index: 1;
    position: absolute;
    width: 1148px;
    height: 1095px;
    left: -169px;
    top: 443px;

    filter: blur(700px);
    background: rgb(98, 141, 254);
    opacity: 0.7;
  }

  @media (min-width: 768px) {
    .cloud-1 {
      right: 50%;
      transform: translateX(50%);
      background-size: 100% auto;
    }

    .ellipse-1 {
      top: -364px;
      left: -196px;
    }
    .ellipse-2 {
      top: 684px;
      left: -22px;
    }
  }

  @media (min-width: 1024px) {
    .cloud-1 {
      right: initial;
      top: -20px;
      left: 250px;
      transform: none;
      background-size: 100% auto;
    }
  }

  @media (min-width: 1440px) {
    .ellipse-1 {
      top: -364px;
      left: -196px;
    }
    .ellipse-2 {
      top: 1323px;
      left: 851px;
    }
  }

  @media (min-width: 1920px) {
    .ellipse-1 {
      top: -364px;
      left: -196px;
    }
    .ellipse-2 {
      left: 1323px;
      top: 851px;
    }
  }
</style>
