---
import Header from "../../blocks/chronicles/Header.astro";
import Hero from "../../blocks/chronicles/Hero.astro";
import Features from "../../blocks/chronicles/features/Features.astro";
import Who from "../../blocks/chronicles/Who.astro";
import Banner from "../../blocks/chronicles/Banner.astro";
import Reviews from "../../blocks/chronicles/Reviews.astro";
import Footer from "../../blocks/chronicles/Footer.astro";
import content from "../../content/chronicles/ru.json";
import "../../styles/reset.css";
import "../../styles/chronicles/main.css";

const TITLE = "Ai Atlant - Хроники";
const LANG = "ru";

const {
  hero,
  features,
  banner,
  who,
  reviews,
  callToAction,
  footerLinks,
  socials,
} = content;
---

<!doctype html>
<html lang={LANG}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{TITLE}</title>
  </head>
  <body>
    <Header />
    <Hero data={hero} actionBtn={callToAction} />
    <Features data={features} />
    <Banner data={banner} actionBtn={callToAction} />
    <Who data={who} />
    <Reviews data={reviews} />
    <Footer footerLinks={footerLinks} socials={socials} />
  </body>
</html>
