---
import { marked } from "marked";
import Button from "../../ui/Button.astro";

const { data, actionBtn } = Astro.props;

const IMAGE_NAME = "gamers";
---

<section class="banner container" id={data.id}>
  <article class="banner-card">
    <div class="banner-card__content">
      <h3 class="banner-card__title">{data.title}</h3>
      <div class="banner-card__text" set:html={marked.parse(data.text)} />
      <div class="banner-card__call">{data.call}</div>
      <Button class="banner-card__action" tag="a" href={actionBtn.href}
        >{actionBtn.text}</Button
      >
    </div>
    <figure class="banner-card__illustration">
      <picture>
        <source
          srcset={`/images/chronicles/${IMAGE_NAME}-1x.webp 1x, /images/chronicles/${IMAGE_NAME}-2x.webp 2x`}
          type="image/webp"
        />
        <source
          srcset={`/images/chronicles/${IMAGE_NAME}-1x.jpg 1x, /images/chronicles/${IMAGE_NAME}-2x.jpg 2x`}
          type="image/jpeg"
        />
        <!-- TODO - i18n alt? -->
        <img
          width="200"
          src={`/images/chronicles/${IMAGE_NAME}-1x.jpg`}
          alt={""}
        />
      </picture>
    </figure>
  </article>
</section>

<style>
  .banner {
    position: relative;
    z-index: 2;
    color: var(--text);
    background-color: var(--background-secondary);
    padding-bottom: 115px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  .banner-card {
    border-radius: 32px;
    background-color: var(--background-primary);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .banner-card__content {
    padding: 95px 72px;
  }

  .banner-card__illustration {
  }

  .banner-card__illustration img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
