---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);

const { data } = Astro.props;

console.log("images", images);
---

<section class="features container" id={data.id}>
  <h2 class="features__title title">{data.title}</h2>
  <ul class="features__list">
    {
      data.list.map((item) => (
        <li class="features__item">
          <article>
            <picture class="feature__pic">
              <source
                srcset={`/images/chronicles/${item.image}-1x.webp 1x, /images/chronicles/${item.image}-2x.webp 2x`}
                type="image/webp"
              />
              <source
                srcset={`/images/chronicles/${item.image}-1x.jpg 1x, /images/chronicles/${item.image}-2x.jpg 2x`}
                type="image/jpeg"
              />
              <img
                width="200"
                src={`/images/chronicles/${item.image}-1x.jpg`}
                alt={item?.alttext || ""}
              />
            </picture>
            <div>{item.name}</div>
            <div set:html={item.text} />
          </article>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .features {
    position: relative;
    z-index: 2;
    color: var(--text);
  }

  .feature__pic img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
</style>
