---
import { marked } from "marked";
import Button from "../../ui/Button.astro";

const { data, actionBtn } = Astro.props;
---

<section class="hero container" id={data.id}>
  <div class="hero__content">
    <figure class="hero__logo">
      <svg
        width="422"
        height="34"
        viewBox="0 0 422 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M364.8 34V0.399994H377.328V20.272L402.144 9.376V0.399994H414.672V3.856L421.824 0.735995V9.71199L414.672 12.832V34H402.144V18.352L377.328 29.248V34H364.8Z"
          fill="#69D467"></path>
        <path
          d="M299.625 27.52V18.928L306.777 17.008V0.399994H319.305V13.6L343.833 6.976V0.399994H356.361V12.208L337.017 17.44L348.345 26.8H356.649V34H340.905L325.113 20.608L319.305 22.192V34H306.777V25.6L299.625 27.52Z"
          fill="#69D467"></path>
        <path
          d="M242.597 34V0.399994H255.125V20.272L279.941 9.376V0.399994H292.469V3.856L299.621 0.735995V9.71199L292.469 12.832V34H279.941V18.352L255.125 29.248V34H242.597Z"
          fill="#69D467"></path>
        <path
          d="M176.016 7.21599V0.399994H195.696V13.696H220.464V0.399994H232.992V34H220.464V20.512H195.696V34H183.168V7.21599H176.016Z"
          fill="#69D467"></path>
        <path
          d="M121.331 34V0.399994H171.203V34H121.331ZM133.859 27.184H158.675V7.21599H133.859V27.184Z"
          fill="#69D467"></path>
        <path
          d="M56.625 27.376V19.84L63.777 18.64V0.399994H113.649V17.776L76.305 24.064V34H63.777V26.176L56.625 27.376ZM76.305 16.528L101.121 12.352V7.21599H76.305V16.528Z"
          fill="#69D467"></path>
        <path
          d="M0.959961 7.21599V0.399994H17.28L28.8 10.72L39.84 0.399994H55.44L37.44 17.2L48.48 27.184H55.68V34H39.36L27.84 23.68L16.8 34H1.19996L19.2 17.2L8.15996 7.21599H0.959961Z"
          fill="#69D467"></path>
      </svg>
    </figure>
    <h2 class="hero__title" set:html={marked.parse(data.title)} />
    <div class="hero__text" set:html={marked.parse(data.text)} />
    <Button class="hero__action" tag="a" href={actionBtn.href}
      >{actionBtn.text}</Button
    >
  </div>
</section>

<style>
  .hero {
    --bottom-shift: -100px;
    position: relative;
    z-index: 3;
    color: var(--text);
    margin-bottom: var(--bottom-shift);
  }

  .hero__content {
    display: flex;
    flex-direction: column;
  }

  .hero__logo {
    margin-bottom: 48px;
  }

  .hero__title {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 100px;
    font-weight: 400;
    line-height: 111px;
    margin-bottom: 48px;
  }

  .hero__text {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
  }

  .hero__action {
    margin-top: 56px;
    align-self: start;
    min-width: 362px;
    max-width: 100%;
  }
</style>
